.container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 100vh;
  font-family: "Garamond-Light", serif;
  letter-spacing: 1%;
  font-size: 2.5rem;
  color: var(--color);
  max-width: 1080px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 3rem;
  text-align: left;
}
.arrowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title {
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
  line-height: 2.5rem;
}
.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.icon {
  padding: 0.75rem;
  border: solid white 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 1;
}
.icon:hover {
  opacity: 50%;
  cursor: pointer;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.role {
  font-size: 1.5rem;
}

@media screen and (max-width: 1080px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Media Query for screens smaller than 768px */
@media (max-width: 767px) {
  .container {
    padding-top: 0rem;
    font-size: 1.5rem;
    min-height: auto;
  }
  .teamGrid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    line-height: 1.5rem;
    margin-top: 0;
  }
  .title {
    margin-bottom: 2rem;
  }
  .socialIcons {
    gap: 0.3rem;
    margin-top: 0.6rem;
  }
  .arrowContainer {
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
  }
  .role {
    font-size: 1.5rem;
  }
}

/* Media Query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

/* Media Query for screens larger than 1024px */
@media (min-width: 1024px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 100vh;
    font-family: "Garamond-Light", serif;
    letter-spacing: 1%;
    font-size: 2.5rem;
    color: var(--color);
    max-width: 1080px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 3rem;
    text-align: left;
    width: 100%;
  }
}
