$width: 40px;
$height: 24px;
$border-radius: 4px;

.switch {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  margin-left: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: $height;
}

.slider:before {
  position: absolute;
  content: "";
  height: $height - $border-radius * 2;
  width: $height - $border-radius * 2;
  left: $border-radius;
  bottom: $border-radius;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--search-bg-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--search-bg-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX($height - $border-radius * 2);
  -ms-transform: translateX($height - $border-radius * 2);
  transform: translateX($height - $border-radius * 2);
}
