.container {
  overflow: hidden;
}
.navContainer,
.aboutContainer,
.contactContainer,
.teamContainer,
.portfolioContainer {
  transition: transform 2s ease;
}
.teamContainer {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}
