.container {
  overflow: hidden;
  width: 100vw;
}
.navContainer,
.aboutContainer,
.contactContainer,
.teamContainer,
.portfolioContainer {
  transition: transform 2s ease;
}
.teamContainer {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}
.contactContainer {
  width: 100%;
}
.aboutContainer {
  position: absolute;
  height: 100vh;
  overflow: scroll;
}
.horizontalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.portfolioContainer {
  position: absolute;
  height: 100vh;
  overflow: scroll;
}
