.logo {
  width: 25%;
  height: auto;
  margin: 4rem;
}
@media (max-width: 768px) {
  .logo {
    width: 100%;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
