.logo {
  width: 100%;
  height: auto;
  margin: 1rem;
}
@media (max-width: 768px) {
  .logo {
    width: 50%;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
/* For tablets */
@media (min-width: 769px) and (max-width: 1023px) {
}

/* For desktops */
@media (min-width: 1024px) {
  .logo {
    width: 30%;
    height: auto;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
