.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Garamond-Light", serif;
  letter-spacing: 1%;
  font-size: 2.5rem;
  color: var(--color);
  max-width: 1080px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 3rem;
  text-align: left;
  width: 100%;
}
.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.arrowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title {
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon {
  padding: 0.75rem;
  border: solid white 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 1;
}
.icon:hover {
  opacity: 50%;
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vw;
  flex-direction: column;
}
.email {
  opacity: 1;
  
}
.email:hover {
  opacity: 50%;
  cursor: pointer;
}
.emailCopied {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.copied {
  background: var(--color);
  color: var(--bg-color-alt);
  padding: 0.5rem;
  border-radius: 3px;
  font-family: "Inconsolata", serif;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
/* Media Query for screens smaller than 768px */
@media (max-width: 767px) {
  .container {
    padding-top: 2rem;
    font-size: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .arrowContainer {
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    z-index: 10000000;
  }
  .center {
    position: relative;
    top: calc(30vh);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .emailSymbol {
    font-size: 1.75rem;
  }
}
@media (min-width: 1024px) {
  .emailSymbol {
    font-size: 1.75rem;
  }
}
