.footer {
  font-family: "Inconsolata", serif;
  color: var(--text-dark);
  letter-spacing: 0.05rem;
  font-size: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.email {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.email:hover {
  opacity: 0.5;
}
.copied {
  background: var(--color);
  color: var(--bg-color-alt);
  padding: 0.25rem;
  border-radius: 3px;
}
.popupAnchor {
  cursor: pointer;
  max-width: 140px;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}
.popupAnchor:hover {
  opacity: 0.5;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a1af5;
  border: solid var(--color) 0.5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  border-radius: 15px;
  padding: 1rem;
}

.popupContent {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popupSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
  line-height: 1rem;
}

.popupQuestion {
  font-family: "Inconsolata", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  max-width: 200px;
  padding-right: 1rem;
}

.popupAnswer {
  font-family: "Inconsolata", sans-serif;
  max-width: 500px;
}
.popupHeadline {
  max-width: 740px;
}
.popupTitle {
  font-family: "Garamond-Light", serif;
  font-size: 1.2rem;
  width: 100%;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.popupFootline {
  max-width: 740px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  color: var(--color);
}
.nightMode {
  max-width: 80px;
}
.dataLoad {
  max-width: 80px;
}

@media (max-width: 786px) {
  .footer {
    font-family: "Inconsolata", serif;
    color: var(--text-dark);
    letter-spacing: 0.05rem;
    font-size: 0.55rem;
    line-height: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .popupAnchor {
    cursor: pointer;
    max-width: 100px;
    left: 1rem;
    bottom: 1rem;
  }
  .email {
    right: 1rem;
    bottom: 1rem;
  }
  .popupTitle {
    font-family: "Garamond-Regular", serif;
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .popup {
    justify-content: space-between;
    font-size: 0.75rem;
  }
  .popupSection {
    flex-direction: column;
    justify-content: space-between;
  }
  .nightMode {
    max-width: 80px;
    line-height: 0.9rem;
  }
  .dataLoad {
    max-width: 80px;
    line-height: 0.9rem;
  }
}
@media (min-width: 787px) and (max-width: 1080px) {
  .popupTitle {
    font-size: 2rem;
    line-height: 2rem;
  }
  .popup {
    justify-content: center;
    margin: 30px;
  }
  .popupSection {
    flex-direction: row;
    justify-content: space-between;
  }
  .popupContent {
    padding: 2rem;
  }
  .popupAnswer {
    min-width: 500px;
  }
}
@media (min-width: 1080px) {
  .footer {
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    font-size: 0.75rem;
  }
  .popupTitle {
    font-size: 2rem;
    line-height: 2rem;
  }
  .popup {
    justify-content: center;
    margin: 30px;
  }
  .popupSection {
    flex-direction: row;
    justify-content: space-between;
  }
  .popupContent {
    padding: 2rem;
  }
  .popupAnchor {
    max-width: 300px;
  }
  .popupAnswer {
    min-width: 500px;
  }
  .nightMode {
    max-width: 200px;
  }
  .dataLoad {
    max-width: 200px;
  }
}
