@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--bg-color-alt);
  overflow: hidden;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../public/fonts/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: "Garamond-Regular";
  src: url("../public/fonts/Garamond/AppleGaramond.ttf");
}
@font-face {
  font-family: "Garamond-Light";
  src: url("../public/fonts/Garamond/AppleGaramond-Light.ttf");
}
@font-face {
  font-family: "Garamond-Bold";
  src: url("../public/fonts/Garamond/AppleGaramond-Bold.ttf");
}

// COLOR TOKENS
