@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1a1a1a;
}
body {
  min-height: 100vh;
}


@font-face {
  font-family: "mono";
  src: url("../public/fonts/Inconsolata-Regular.ttf");
}

video {
  max-width: 150%;
  min-width: 100%;
}
